<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.example.myexpo.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file></welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.example.myexpo.filter.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>LocaleFilter</filter-name>
        <filter-class>com.example.myexpo.filter.LocaleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LocaleFilter</filter-name>
        <url-pattern>/app/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.example.myexpo.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/app/main</url-pattern>
        <url-pattern>/app/ticket/*</url-pattern>
        <url-pattern>/app/ticket/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.example.myexpo.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/app/expo/*</url-pattern>
        <url-pattern>/app/user</url-pattern>
        <url-pattern>/app/stat</url-pattern>
    </filter-mapping>

</web-app>